{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% if validlink %}
        <h2>Reset Password</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="password" name="password" class="form-control" placeholder="New Password" required><br>
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required><br>
            <button type="submit" class="btn btn-success">Reset Password</button>
        </form>
    {% else %}
        <p>This password reset link is invalid or has expired.</p>
    {% endif %}
</div>
{% endblock %}
